.resNode{
  
    .btn-secondary {
        box-shadow: #00000041 0px 4px 8px ;
        border-radius: 10rem;
        font-size: small;
        background-color:#ffffff ;
        color: #372598;
        border-color: #372598;
        padding: .5rem  1rem;
        min-width: 8rem;
       

    }
    .addNode{
        padding:0;
        position: absolute;
        right: -1.4rem;
        top:.2rem;
        color: #372598;
    }


    .editBtn{
        box-shadow: #00000041 0px 4px 8px ;
        position: absolute;
        padding: 2px;
        right: 2rem;
        color: #372598;
        bottom:-1.8rem;
        font-size: small;
        font-size: .7rem;
        font-weight: 600;
       
        
    }
    .resTitle{
        position: relative;
        font-size: small;
        background-color: transparent;
        border: none;
        color: black;
        text-shadow: #2b323a07 1px 1px 2px;
        text-align: center;
        font-weight: 500;
        width: 8rem;
    }
}
