.inputModal{
    top: 4.5rem;
    background-color: transparent;
    svg{
        position: relative;
        top: -.2rem;
    }
    .modal-content{
        box-shadow: #0000004c 0px 0px 4px 2px ;
    
    }
    .modal-header{
        color: #484848;
        box-shadow: #000000bb 0px 4px 8px ;
        border-bottom: 1px solid #353438;
        background-color: #4848482b;
        .btn{
            svg{
                color: white;
            }
            
        }
    }
    .form-control{
        border: 1px solid #353438;
    }
    .modal-body{
        font-weight: 600;
        font-size: .80rem;
        border-bottom:0px ;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }
    .modal-footer{
        padding-top: 0px;
        
        border-top:0px ;
        color: white;
        background-color: #ffffff88;
    }
    .btn-primary{
        background-color: #C02E31;
        border-color: #C02E31;

    }
    .btn-primary:active{
        border-color: #C02E31;
        
    }
}