.position-absolute {
  top: 0.5rem;
  left: 6.4rem;
}
.nav-link {
   color: #362598;
  padding: 0.4rem 1rem;
  text-decoration: none;
}
.nav-link:hover {
    color: #BF1D2B
 }

h4 {
    color: #BF1D2B;
    font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.sub_menu {
  padding-left: 2rem;
  font-weight: 300;
  font-size: 1rem;
  
 
}
.sub_header{
    
}