.editModal{
    height: 100%;
    width: 25rem;
    position: absolute!important;
    left: 71vw!important;
    font-family:  Arial, sans-serif;
   
   
   .headerOne{
    background-color: #372598;
    color: white;
    h3{
        font-size: 1.5rem;
        font-weight: medium;
    }
    
    .btn-close{
        color: aliceblue;
    }
   }
   .headerTwo{
    background-color: #BE2C2E;
    color: white;
    h3{
        font-size: 1.5rem;
        font-weight: medium;
    }
   }

    .modal-dialog {
        margin-right: 4rem;
        top: 4.5rem;
        width: 21.8rem;
        margin: 1rem auto;
        position: absolute;
        right: 2rem;
        box-shadow: rgba(1, 0, 0, 0.172) 0px 2px 8px 2px;
    }
   
    .col{
      
        font-size: .7rem;
        text-align:start;
        .btn{
            margin: 1rem .5rem 1rem .5rem ;
        }
    }
    .btn-outline-primary{
        cursor: grab;
        color: #372598;
        border-color: #372598;
    }
    .btn-outline-primary:hover{
        cursor: grab;
        background-color: #372598;
        color: white;
    }
    .btn-outline-secondary{
        color: #BE2C2E;
        cursor: grab;
        border-color: #BE2C2E;
    }
    .btn-outline-secondary:hover{
        cursor: grab;
        background-color: #BE2C2E;
        color: white;
    }
    .modal-footer{
       
        padding-bottom: 0px;
        border-top:1px solid ;
        color: white;
        background-color: #ffffff88;
    }
    .btn-primary{
        background-color: #C02E31;
        border-color: #ffffff;

    }
    .btn-primary:hover{
        border-color: #000000;
        background-color: #42424280;
        
    }
}
.modal-backdrop.show{
    opacity: 0;
    z-index: 1;
    background-color: transparent;
  
}
