.fbNode{
    .btn-secondary {
        box-shadow: #00000041 4px 4px 8px ;
        border-radius: 10rem;
        font-size: small;
        padding:.5rem 1.5rem 0.5rem 1.5rem;
        background-color:#ba0918e9;
    }
}
